.btn,
.btn:link,
.btn:visited {
    text-transform: lowercase;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: green;
    margin: 1rem auto;
    font-size: 2rem;
    border-radius: 10rem;
    position: relative;
}
.btn-red{
    background-color: color(aqua);
    color: fff;
}
.btn::after{
    background-color: color(aqua);
    color: fff;
}
.btn:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 0 0.5rem black;
}
.btn::after {
    content:"";
    display: block;
    height: 50%;
    width: 50%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    transition: all 0.3s;
}
.btn:hover::after{
    transform: scaleX(1.5);
    opacity: 0; 
}
.btn:active{
    transform: translateY(-1px);
    transform: scaleX(1.5);
}